In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
# import datatable as dt
import numpy as np
# import mlb
import pickle as pkl
from tqdm import tqdm
from itertools import product
import lightgbm as lgb
from fuzzywuzzy import fuzz
import re
import numba as nb
from numba import njit
import xgboost as xgb
# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/opt/conda/lib/python3.10/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

/kaggle/input/mlb-player-digital-engagement-forecasting/players.csv
/kaggle/input/mlb-player-digital-engagement-forecasting/example_sample_submission.csv
/kaggle/input/mlb-player-digital-engagement-forecasting/teams.csv
/kaggle/input/mlb-player-digital-engagement-forecasting/seasons.csv
/kaggle/input/mlb-player-digital-engagement-forecasting/example_test.csv
/kaggle/input/mlb-player-digital-engagement-forecasting/train_updated.csv
/kaggle/input/mlb-player-digital-engagement-forecasting/train.csv
/kaggle/input/mlb-player-digital-engagement-forecasting/awards.csv
/kaggle/input/mlb-player-digital-engagement-forecasting/mlb/competition.cpython-37m-x86_64-linux-gnu.so
/kaggle/input/mlb-player-digital-engagement-forecasting/mlb/__init__.py

In [2]:
""" Required modules inatlling """
#!pip install pip --upgrade
# !pip install MLB

' Required modules inatlling '

"""
Sample https://www.kaggle.com/code/brandenkmurray/mlb-predict-final/notebook
""""

** Data read started **

In [3]:
train = pd.read_csv("../input/mlb-player-digital-engagement-forecasting/train_updated.csv")
test = True

In [4]:
if test:
    last_date = train['date'].max()
else:
    last_date = 20210430
print(" last date : {}".format(last_date))

 last date : 20210731

**SAMPLE DATA**

**EDA**

In [5]:
print("\n Shape of data \n")
print("==="*30)
print(train.shape)
print("==="*30)
print("\n NUmber of columns ")
print("==="*30)
print(train.columns)
print("==="*30)
print(train.info())
print("==="*30)

 Shape of data

==========================================================================================
(1308, 12)
==========================================================================================

 NUmber of columns
==========================================================================================
Index(['date', 'nextDayPlayerEngagement', 'games', 'rosters',
       'playerBoxScores', 'teamBoxScores', 'transactions', 'standings',
       'awards', 'events', 'playerTwitterFollowers', 'teamTwitterFollowers'],
      dtype='object')
==========================================================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1308 entries, 0 to 1307
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   date                     1308 non-null   int64
 1   nextDayPlayerEngagement  1308 non-null   object
 2   games                    729 non-null    object
 3   rosters                  1307 non-null   object
 4   playerBoxScores          627 non-null    object
 5   teamBoxScores            627 non-null    object
 6   transactions             1194 non-null   object
 7   standings                623 non-null    object
 8   awards                   309 non-null    object
 9   events                   624 non-null    object
 10  playerTwitterFollowers   43 non-null     object
 11  teamTwitterFollowers     43 non-null     object
dtypes: int64(1), object(11)
memory usage: 122.8+ KB
None
==========================================================================================

In [6]:
train.head(5)

,date,nextDayPlayerEngagement,games,rosters,playerBoxScores,teamBoxScores,transactions,standings,awards,events,playerTwitterFollowers,teamTwitterFollowers
0,20180101,"[{""engagementMetricsDate"":""2018-01-02"",""player...",NaN,"[{""playerId"":400121,""gameDate"":""2018-01-01"",""t...",NaN,NaN,"[{""transactionId"":340732,""playerId"":547348,""pl...",NaN,NaN,NaN,"[{""date"":""2018-01-01"",""playerId"":545361,""playe...","[{""date"":""2018-01-01"",""teamId"":147,""teamName"":..."
1,20180102,"[{""engagementMetricsDate"":""2018-01-03"",""player...",NaN,"[{""playerId"":134181,""gameDate"":""2018-01-02"",""t...",NaN,NaN,"[{""transactionId"":339458,""playerId"":621173,""pl...",NaN,NaN,NaN,NaN,NaN
2,20180103,"[{""engagementMetricsDate"":""2018-01-04"",""player...",NaN,"[{""playerId"":425492,""gameDate"":""2018-01-03"",""t...",NaN,NaN,"[{""transactionId"":347527,""playerId"":572389,""pl...",NaN,NaN,NaN,NaN,NaN
3,20180104,"[{""engagementMetricsDate"":""2018-01-05"",""player...",NaN,"[{""playerId"":282332,""gameDate"":""2018-01-04"",""t...",NaN,NaN,"[{""transactionId"":339549,""playerId"":545343,""pl...",NaN,NaN,NaN,NaN,NaN
4,20180105,"[{""engagementMetricsDate"":""2018-01-06"",""player...",NaN,"[{""playerId"":282332,""gameDate"":""2018-01-05"",""t...",NaN,NaN,"[{""transactionId"":341195,""playerId"":628336,""pl...",NaN,NaN,NaN,NaN,NaN

**Utility Functions**

In [7]:
def reduce_mem_usage(df, verbose=True):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2
    for col in df.columns:
        col_type = df[col].dtypes
        print("\n column type column name {} and data type {}".format(col,col_type))
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            print("\n column min :{} col max : {} ".format(c_min,c_max))
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int64)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float32)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float64)
                else:
                    df[col] = df[col].astype(np.float64)
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose: print('Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
    return df



def unnest(data, name):
    try:
        date_nested_table = data[['date', name]]

        date_nested_table = (date_nested_table[
          ~pd.isna(date_nested_table[name])
          ].
          reset_index(drop = True)
          )

        daily_dfs_collection = []
        print("\n daily_dfs_collection started ")
        for date_index, date_row in date_nested_table.iterrows():
            daily_df = pd.read_json(date_row[name])

            daily_df['dailyDataDate'] = date_row['date']

            daily_dfs_collection = daily_dfs_collection + [daily_df]

        if daily_dfs_collection:
            # Concatenate all daily dfs into single df for each row
            unnested_table = (pd.concat(daily_dfs_collection,
              ignore_index = True).
              # Set and reset index to move 'dailyDataDate' to front of df
              set_index('dailyDataDate').
              reset_index()
              )
            return reduce_mem_usage(unnested_table, False)
        else:
            return pd.DataFrame()
    except Exception as e:
        print(e)
        print(f'unnest failed for {name}. returning empty dataframe')
        return pd.DataFrame()

**Derived Features**
> Create the features using function unnest

In [8]:
eng = unnest(train, 'nextDayPlayerEngagement')
p_box_scores_og = unnest(train, 'playerBoxScores')

 daily_dfs_collection started

 column type column name dailyDataDate and data type int64

 column min :20180101 col max : 20210731

 column type column name engagementMetricsDate and data type object

 column type column name playerId and data type int64

 column min :112526 col max : 685503

 column type column name target1 and data type float64

 column min :0.0 col max : 100.0

 column type column name target2 and data type float64

 column min :0.0 col max : 100.0

 column type column name target3 and data type float64

 column min :0.0 col max : 100.0

 column type column name target4 and data type float64

 column min :0.0 col max : 100.0

 daily_dfs_collection started

 column type column name dailyDataDate and data type int64

 column min :20180329 col max : 20210731

 column type column name home and data type int64

 column min :0 col max : 1

 column type column name gamePk and data type int64

 column min :529406 col max : 635940

 column type column name gameDate and data type object

 column type column name gameTimeUTC and data type object

 column type column name teamId and data type int64

 column min :108 col max : 160

 column type column name teamName and data type object

 column type column name playerId and data type int64

 column min :112526 col max : 685503

 column type column name playerName and data type object

 column type column name jerseyNum and data type object

 column type column name positionCode and data type int64

 column min :1 col max : 12

 column type column name positionName and data type object

 column type column name positionType and data type object

 column type column name battingOrder and data type float64

 column min :100.0 col max : 917.0

 column type column name gamesPlayedBatting and data type float64

 column min :1.0 col max : 1.0

 column type column name flyOuts and data type float64

 column min :0.0 col max : 5.0

 column type column name groundOuts and data type float64

 column min :0.0 col max : 7.0

 column type column name runsScored and data type float64

 column min :0.0 col max : 5.0

 column type column name doubles and data type float64

 column min :0.0 col max : 4.0

 column type column name triples and data type float64

 column min :0.0 col max : 2.0

 column type column name homeRuns and data type float64

 column min :0.0 col max : 3.0

 column type column name strikeOuts and data type float64

 column min :0.0 col max : 5.0

 column type column name baseOnBalls and data type float64

 column min :0.0 col max : 5.0

 column type column name intentionalWalks and data type float64

 column min :0.0 col max : 3.0

 column type column name hits and data type float64

 column min :0.0 col max : 6.0

 column type column name hitByPitch and data type float64

 column min :0.0 col max : 3.0

 column type column name atBats and data type float64

 column min :0.0 col max : 8.0

 column type column name caughtStealing and data type float64

 column min :0.0 col max : 2.0

 column type column name stolenBases and data type float64

 column min :0.0 col max : 4.0

 column type column name groundIntoDoublePlay and data type float64

 column min :0.0 col max : 3.0

 column type column name groundIntoTriplePlay and data type float64

 column min :0.0 col max : 1.0

 column type column name plateAppearances and data type float64

 column min :0.0 col max : 9.0

 column type column name totalBases and data type float64

 column min :0.0 col max : 16.0

 column type column name rbi and data type float64

 column min :0.0 col max : 10.0

 column type column name leftOnBase and data type float64

 column min :0.0 col max : 11.0

 column type column name sacBunts and data type float64

 column min :0.0 col max : 3.0

 column type column name sacFlies and data type float64

 column min :0.0 col max : 2.0

 column type column name catchersInterference and data type float64

 column min :0.0 col max : 2.0

 column type column name pickoffs and data type float64

 column min :0.0 col max : 2.0

 column type column name gamesPlayedPitching and data type float64

 column min :0.0 col max : 1.0

 column type column name gamesStartedPitching and data type float64

 column min :0.0 col max : 1.0

 column type column name completeGamesPitching and data type float64

 column min :0.0 col max : 1.0

 column type column name shutoutsPitching and data type float64

 column min :0.0 col max : 1.0

 column type column name winsPitching and data type float64

 column min :0.0 col max : 1.0

 column type column name lossesPitching and data type float64

 column min :0.0 col max : 1.0

 column type column name flyOutsPitching and data type float64

 column min :1.0 col max : 11.0

 column type column name airOutsPitching and data type float64

 column min :0.0 col max : 18.0

 column type column name groundOutsPitching and data type float64

 column min :0.0 col max : 17.0

 column type column name runsPitching and data type float64

 column min :0.0 col max : 13.0

 column type column name doublesPitching and data type float64

 column min :0.0 col max : 7.0

 column type column name triplesPitching and data type float64

 column min :0.0 col max : 4.0

 column type column name homeRunsPitching and data type float64

 column min :0.0 col max : 5.0

 column type column name strikeOutsPitching and data type float64

 column min :0.0 col max : 17.0

 column type column name baseOnBallsPitching and data type float64

 column min :0.0 col max : 8.0

 column type column name intentionalWalksPitching and data type float64

 column min :0.0 col max : 3.0

 column type column name hitsPitching and data type float64

 column min :0.0 col max : 14.0

 column type column name hitByPitchPitching and data type float64

 column min :0.0 col max : 4.0

 column type column name atBatsPitching and data type float64

 column min :0.0 col max : 34.0

 column type column name caughtStealingPitching and data type float64

 column min :0.0 col max : 3.0

 column type column name stolenBasesPitching and data type float64

 column min :0.0 col max : 6.0

 column type column name inningsPitched and data type float64

 column min :0.0 col max : 9.0

 column type column name saveOpportunities and data type float64

 column min :0.0 col max : 1.0

 column type column name earnedRuns and data type float64

 column min :0.0 col max : 12.0

 column type column name battersFaced and data type float64

 column min :0.0 col max : 36.0

 column type column name outsPitching and data type float64

 column min :0.0 col max : 27.0

 column type column name pitchesThrown and data type float64

 column min :0.0 col max : 134.0

 column type column name balls and data type float64

 column min :0.0 col max : 56.0

 column type column name strikes and data type float64

 column min :0.0 col max : 89.0

 column type column name hitBatsmen and data type float64

 column min :0.0 col max : 4.0

 column type column name balks and data type float64

 column min :0.0 col max : 2.0

 column type column name wildPitches and data type float64

 column min :0.0 col max : 4.0

 column type column name pickoffsPitching and data type float64

 column min :0.0 col max : 2.0

 column type column name rbiPitching and data type float64

 column min :0.0 col max : 12.0

 column type column name gamesFinishedPitching and data type float64

 column min :0.0 col max : 1.0

 column type column name inheritedRunners and data type float64

 column min :0.0 col max : 3.0

 column type column name inheritedRunnersScored and data type float64

 column min :0.0 col max : 3.0

 column type column name catchersInterferencePitching and data type float64

 column min :0.0 col max : 2.0

 column type column name sacBuntsPitching and data type float64

 column min :0.0 col max : 4.0

 column type column name sacFliesPitching and data type float64

 column min :0.0 col max : 3.0

 column type column name saves and data type float64

 column min :0.0 col max : 1.0

 column type column name holds and data type float64

 column min :0.0 col max : 1.0

 column type column name blownSaves and data type float64

 column min :0.0 col max : 1.0

 column type column name assists and data type float64

 column min :0.0 col max : 11.0

 column type column name putOuts and data type float64

 column min :0.0 col max : 25.0

 column type column name errors and data type float64

 column min :0.0 col max : 3.0

 column type column name chances and data type float64

 column min :0.0 col max : 28.0

In [9]:
p_box_scores_og

,dailyDataDate,home,gamePk,gameDate,gameTimeUTC,teamId,teamName,playerId,playerName,jerseyNum,...,catchersInterferencePitching,sacBuntsPitching,sacFliesPitching,saves,holds,blownSaves,assists,putOuts,errors,chances
0,20180329,1,529418,2018-03-29,2018-03-29T23:08:00Z,119,Los Angeles Dodgers,605131,Austin Barnes,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20180329,1,529406,2018-03-29,2018-03-29T20:00:00Z,139,Tampa Bay Rays,605480,Mallex Smith,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
2,20180329,0,529416,2018-03-29,2018-03-29T20:10:00Z,143,Philadelphia Phillies,546318,Odubel Herrera,37,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
3,20180329,0,529412,2018-03-29,2018-03-29T20:05:00Z,108,Los Angeles Angels,527043,Jefry Marte,19,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0.0,1.0
4,20180329,1,529408,2018-03-29,2018-03-29T20:15:00Z,118,Kansas City Royals,449181,Paulo Orlando,16,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219722,20210731,0,633099,2021-07-31,2021-08-01T00:10:00Z,119,Los Angeles Dodgers,669952,Mitch White,66,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
219723,20210731,1,633099,2021-07-31,2021-08-01T00:10:00Z,109,Arizona Diamondbacks,518876,Merrill Kelly,29,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
219724,20210731,0,633127,2021-07-31,2021-07-31T23:15:00Z,142,Minnesota Twins,641927,Bailey Ober,82,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
219725,20210731,0,633063,2021-07-31,2021-07-31T23:10:00Z,113,Cincinnati Reds,489119,Wade Miley,22,...,0.0,1.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,3.0
219726,20210731,0,633132,2021-07-31,2021-07-31T23:05:00Z,112,Chicago Cubs,543294,Kyle Hendricks,28,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,3.0